@import '../node_modules/materialize-css/dist/css/materialize.min.css';

.die {
    margin: 2rem;
}
.die:hover {
    cursor: pointer;
}

.button-container {
    margin: 5rem 0;
}

.btn-large:active {
    background-color: #fdd835 !important;
    transition: .2s;
}

.red-border {
    border: 2px solid red;
}

.red-font {
    color: red;
}
.green-font {
    color: green;
}